@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --background-clr: #7eb4e2;
  --text-clr: #fff;
  --btn-backgrond-clr: #e5be01;
}

.contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact::after {
  content: "";
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/Suikergym_background.jpeg") no-repeat center center;
  background-color: var(--background-clr);
  position: absolute;
  background-size: cover;
  zoom: normal;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: -1;
}

.contact .content {
  max-width: 960px;
  margin-inline: auto;
  text-align: center;
  color: var(--text-clr);
}

.contact .content h2 {
  font-size: 36px;
  font-weight: 500;
  color: var(--text-clr);
}

.contact .content p {
  font-weight: 300;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.container .contactInfo {
  width: 50%;
  display: flex;
  margin-inline: auto;
  padding-inline: auto;
  flex-direction: column;
}

.container .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.container .contactInfo .box .icon-background {
  align-content: center;
}

.container .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: var(--text-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}

.container .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: var(--text-clr);
  flex-direction: column;
  font-weight: 300;
}

.container .contactInfo .box .text h3 {
  font-weight: 600;
  color: var(--text-clr);
}

.container .contactInfo .box .text p {
  margin-top: -18px;
}

.contactForm {
  width: 40%;
  padding: 40px;
  background: var(--text-clr);
  opacity: 0.8;
}

.contactForm h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
}

.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactForm .petname {
  position: absolute;
  left: -5000px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea,
.contactForm button {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
  width: 100px;
  background: var(--btn-backgrond-clr);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

@media (max-width: 991px) {
  .contact {
    padding: 50px;
  }
  .container {
    flex-direction: column-reverse;
  }
  .container .contactInfo {
    margin-bottom: 40px;
    justify-content: space-around;
  }
  .container .contactInfo,
  .contactForm {
    width: 100%;
  }
}
