@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root{
  --primary-background-color: #fef7e5;
  /* --prime-background-clr: repeating-linear-gradient(45deg, #7eb4e2, #7eb4e2 15px, #f69ec4 0, #f69ec4 30px); */
  --prime-background-clr: repeating-linear-gradient(45deg, #A1E38E, #A1E38E 15px, white 0, white 30px);
}

.navbar{
  width: 100%;
  height: 100px;
  background: var(--prime-background-clr);
  display: flex;
  flex-direction: row;
  position: relative;
  font-family: "Poppins", "sans-serif";
  box-shadow: 0px 0px 10px #a49f9f;
}

.left-side{
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.logo img{
  height: auto;
  width: auto;
  max-height: 104px;
  max-width: 250px;
}

/* .logo-background{
  background-color: white;
} */
.logo{
}

.menu-icon {
  display: none;
}

.right-side{
}

.right-side{
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right-side ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.right-side ul li:not(:last-child) {
  margin-right: 30px;
}

.right-side ul li:last-child {
  margin-right: 10px;
  white-space: nowrap;
}

.right-side ul a {
  font-size: 16px;
  font-weight: 400;
  color: #2f234f;
  text-decoration: none;
  text-shadow: white 1px 1px 1px;
}

.right-side ul a.active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
  text-shadow: white 1px 1px 1px;

}

.right-side ul a.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
  box-shadow: white 1px 1px 1px;

}

@media (max-width: 600px) {
  .right-side ul li:not(:last-child) {
    margin-right: 30px;
  }

  .right-side ul li{
    padding: 20px;
  }
}

@media (max-width: 600px) {
  .menu-icon {
    margin: auto;
    display: block;
    cursor: pointer;
    margin-right: 15px;
  }

  .right-side {
    position: absolute;
    right: 0;
    top: 100px;
    background: var(--prime-background-clr);
    width: 0px;
    height: calc(100vh - 51px);
    transition: all 0.3s ease-in;
    overflow: hidden;
    justify-content: center;
    z-index: 1;
  }

  .right-side.active {
    width: 100%;
  }

  .right-side ul {
    display: flex;
    flex-direction: column;
  }

  .right-side a {
    margin-right: unset;
    margin-top: 22px;
  }
}